<!DOCTYPE html>
<html>
<head><title>Gmail Cleaner Scheduler</title></head>
<body>
  <h2>Select how you'd like to delete your Gmail emails:</h2>
  <form method="POST">
    <label><input type="radio" name="schedule" value="custom"> Custom</label><br>
    <label><input type="radio" name="schedule" value="weekly"> Weekly</label><br>
    <label><input type="radio" name="schedule" value="monthly"> Monthly</label><br>
    <label><input type="radio" name="schedule" value="yearly"> Yearly</label><br><br>
    <input type="submit" value="Schedule Deletion">
  </form>
</body>
</html>